.root {
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 30px;
  box-shadow: 0 0 2px 1px rgb(214, 214, 214);
}

.inner {
  @apply flex justify-between items-center;
  @media (max-width: 480px) {
  }
}

.logo {
  display: flex;
  align-items: center;
  color: black;
  font-weight: 700;
  font-size: 31px;
  line-height: 35px;
  letter-spacing: 0.15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  @media (max-width: 480px) {
    font-size: 27px;
  }
}
