.main {
  @apply flex justify-center items-center;
  .root {
    border: 1px solid #dedede;
    height: fit-content;
    @apply max-w-[450px] p-12;
  }
  .field {
    @apply mb-6;
  }
  .title {
    text-align: center !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
  }
}
